# Built in Function

In [1]:
# abs() function.  negative value nu positive krda 
x = abs(-7.25)
print(x)

7.25

In [3]:
x = abs(-8)
print(x)

8

# int Function

In [4]:
x = int(2.55)
print(x)

2

In [5]:
# Float
x = float(2)
print(x)

2.0

In [6]:
# str()
a = str(23)
print(a)
print(type(a))

23
<class 'str'>

# input function

In [12]:
x = input("Enter your Name")
print("Hello")
y = int(input("Enter your age"))
print(x,"Your age" , "is",y)

Enter your Name Ramneet

Hello

Enter your age 28

Ramneet Your age is 28

# Control Flow Statements

# if Condition

In [19]:
# Write a program to calculate the percentage of a student in math science social english and hindi

x = input("Enter name of Student")
a = int(input(" English Marks : "))
b = int(input(" Hindi Marks : "))
c = int(input(" Math Marks : "))
d = int(input(" Science Marks : "))
e = int(input(" Social Marks : "))
n =((a+b+c+d+e)/500)*100
print(x ,"'s Total Percentage : ",n) 
if n > 90:
    print("Grade : A")
if n >= 75 and n < 90:
    print("Grade : B")
if n >= 65 and n < 75:    
    print("Grade : c")

Enter name of Student Ramneet
 English Marks :  56
 Hindi Marks :  78
 Math Marks :  75
 Science Marks :  64
 Social Marks :  34

Ramneet 's Total Percentage :  61.4

# if - else

In [20]:
a = int(input("Enter Number : "))
if a%5 == 0:
    print("Hello")
else : 
    print("Bye")

Enter Number :  9

Bye

In [21]:
a = int(input("Enter Number : "))
if a > 0:
    print("Positive Number")
else : 
    print("Negative Number")

Enter Number :  7

Positive Number

In [22]:
x = input("Enter name of Student")
a = int(input(" English Marks : "))
b = int(input(" Hindi Marks : "))
c = int(input(" Math Marks : "))
d = int(input(" Science Marks : "))
e = int(input(" Social Marks : "))
n =((a+b+c+d+e)/500)*100
print(x ,"'s Total Percentage : ",n) 
if n > 90:
    print("Grade : A")
if n >= 75 and n < 90:
    print("Grade : B")
if n >= 65 and n < 75:    
    print("Grade : c")
else :
    print("Study Hard")

Enter name of Student Ramneet
 English Marks :  60
 Hindi Marks :  54
 Math Marks :  34
 Science Marks :  56
 Social Marks :  23

Ramneet 's Total Percentage :  45.4
Study Hard

# if - elif - else

In [23]:
""" Accept the city and print its monument
Delhi = Red Fort 
Agra = Taj Mahal
Jaipur = Jalmahal
Punjab = Golden temple
Hyderabad = Charminar
Other = Record not Found"""

' Accept the city and print its monument\nDelhi = Red Fort \nAgra = Taj Mahal\nJaipur = Jalmahal\nPunjab = Golden temple\nHyderabad = Charminar\nOther = Record not Found'

In [28]:
print("Select City 1. Delhi, Agra, Jaipur, Punjab, Hyderabad, Other ") 
city = input("Enter City")
if city == "Delhi":
    print("Red Fort")
elif city == "Agra":
    print("Taj Mahal")
elif city == "Jaipur":
    print("Jalmahal")
elif city == "Punjab":
    print("Golden Temple")    
elif city == "Hyderabad":
    print("Charminar")    
else :
    print("No Record")

Select City 1. Delhi, Agra, Jaipur, Punjab, Hyderabad, Other

Enter City Delhi

Red Fort