In [1]:
# list ek variable ch multiple value store karn lyi use hundi aa , list ek data structure aa
# Creating a list
mylist = ["Apple" , "Banana","Cherry"]
print(mylist)
print(type(mylist))

['Apple', 'Banana', 'Cherry']
<class 'list'>

In [2]:
# Allow duplicates
mylist = ["Apple" , "Banana","Cherry","Apple" , "Banana","Cherry","Apple" , "Banana","Cherry"]
print(mylist)

['Apple', 'Banana', 'Cherry', 'Apple', 'Banana', 'Cherry', 'Apple', 'Banana', 'Cherry']

In [3]:
# store any type of data
list1 = ["Apple","Banana","Mango"] # String
list2 = [1,2,3,4,5,6] # Int
list3 = [1.2, 3.4 , 5.6] # Float
list4 = [True , False] # Boolean
print(list1)
print(list2)
print(list3)
print(list4)

['Apple', 'Banana', 'Mango']
[1, 2, 3, 4, 5, 6]
[1.2, 3.4, 5.6]
[True, False]

In [5]:
# all type of value in single list
a = [1,2,3,4.5, 6.7, "Apple" , True , "Mango"]
print(a)
print(len(a)) # length

[1, 2, 3, 4.5, 6.7, 'Apple', True, 'Mango']
8

In [6]:
b = [15,8,9,3,4,6,7,8,9,25]
print(len(b))

10

In [9]:
# access item
thislist = [1,2,3,4,5,6,7,8,9,0]
print(thislist[8])
print(thislist[-8])

9
3

In [10]:
# Slicing
thislist = [1,2,3,4,5,6,7,8,9,0]
print(thislist[0:6])

[1, 2, 3, 4, 5, 6]

In [12]:
# change items
a = ["Apple", "Banana" , "Mango" , 12,3,4,5,6,7,6.5]
a[1] = "Kela"
a[-1] = 8
print(a)

['Apple', 'Kela', 'Mango', 12, 3, 4, 5, 6, 7, 8]

In [13]:
a = ["Apple", "Banana" , "Mango" , 12,3,4,5,6,7,6.5]
a[4:6] = "Kela","Amb"
print(a)

['Apple', 'Banana', 'Mango', 12, 'Kela', 'Amb', 5, 6, 7, 6.5]

In [14]:
# Add value
thislist = [1,2,3,4,5,6,7,8,9,0]
thislist.append("Hello")
print(thislist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 'Hello']

In [16]:
thislist = [1,2,3,4,5,6,7,8,9,0,"Hello"]
thislist.remove("Hello")
print(thislist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [17]:
thislist = [1,2,3,4,5,6,7,8,9,0]
thislist.reverse()
print(thislist)

[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
l = [1,2,3,4,5,6,7,8,9,0]
print(len(l))
a = 0
for i in range(10):
    a = a+l[i]
    i = i+1
print("Sum of list" , a)

10
Sum of list 45

In [28]:
a = [1,2,3,4,5,6,7,8,9]
res = 1
for val in a:
    res = res * val
   
print("Multiplication of list" , res)

Multiplication of list 362880