In [1]:
print("Hello")

Hello

# Print next line

In [2]:
print(""" hello 
write 
welcome""")

 hello
write
welcome

In [3]:
print("hello \n hello2 \n hello")

hello
 hello2
 hello

# Variables

In [4]:
a = "Hello"
print(a)

Hello

In [9]:
name = input("Enter your name : ")
print(name)
age = int(input("Enter your age : "))
print(age)
marks = float(input("Enter your marks : "))
print(marks)

Enter your name :  Ramneet

Ramneet

Enter your age :  28

28

Enter your marks :  28.0

28.0

In [10]:
exp = eval(input("Enter yout Equation : "))
print(exp)

Enter yout Equation :  2+3

5

# Type Casting

In [11]:
name = "Ramn"
print(type(name))

<class 'str'>

# implicit

In [14]:
a = 123
b = 1.23
print(type(a))
print(type(b))
c = a+b
print (c)
print(type(c))

<class 'int'>
<class 'float'>
124.23
<class 'float'>

# Explicit

In [15]:
a = "123"
b = 1.23
print(type(a))
print(type(b))
a = int(a)
print ("after conversion" , type(a))

c = a+b
print (c)
print(type(c))

<class 'str'>
<class 'float'>
after conversion <class 'int'>
124.23
<class 'float'>

# Conditional statements

# If the statement

In [17]:
marks = 87
if marks>=90:
    print("you will get mobile phone")

print("Study hard")

Study hard

# if else statement

In [18]:
marks = 87
if marks>=90:
    print("you will get mobile phone")
else:
    print("Study more")
    print("Sutdy hard")

Study more
Sutdy hard

# if - elif-else statement

In [20]:
marks = 87

if marks >=90:
    print("you can go to trip")
elif marks >=80 and marks <90:
    print("you will get a new phone")
elif marks >=70 and marks < 80:
    print("you will get a new book")
else :
    print("you will not get your phone back")

you will get a new phone

# nested if

In [21]:
marks = 87
if marks >= 80:
    print("get phone")
    if marks >=95:
        print("go trip")

else:
    print("no phone")

get phone

# short hand if else statement

In [22]:
marks =87 
print ("go trip") if marks >= 90 else print("no phone")

no phone

# loops

In [23]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [30]:
n= int(input("enter a number:"))
       
for i in range (1,11):
    print (n,"x",i," = " ,n*i)

enter a number: 7

7 x 1  =  7
7 x 2  =  14
7 x 3  =  21
7 x 4  =  28
7 x 5  =  35
7 x 6  =  42
7 x 7  =  49
7 x 8  =  56
7 x 9  =  63
7 x 10  =  70

# while loop

In [31]:
n = 0 
while n<=10:
    print(n)
    n += 2

0
2
4
6
8
10

In [33]:
n = 1
a = 7 
while n <= 10:
    print ( a,"x", n , "=",n*a)
    n +=1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

# nested loop

In [39]:
for i in range(1,4):
    for j in range(1,11):
        print (j, end = " ")
print()

1 2 3 4 5 6 7 8 9 10 1 2 3 4 5 6 7 8 9 10 1 2 3 4 5 6 7 8 9 10

In [42]:
for i in range(1,6):
    for j in range(1, i+1):
        print (j,end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# loop with conditional statements

In [45]:
for i in range(1,11):
  if (i == 3):
    print("Hello")
  else :
    print(i)

1
2
Hello
4
5
6
7
8
9
10

In [46]:
n = 1
while n<= 10:
    if n== 3:
        print("hello")
    else:
        print(n)
    n += 1

1
2
hello
4
5
6
7
8
9
10

# Break and continue Statements

In [47]:
for i in range(1,11):
    if i == 3:
        continue
    else: 
        print(i)

1
2
4
5
6
7
8
9
10

In [48]:
for i in range(1,11):
    if i == 7:
        break
    else: 
        print(i)

1
2
3
4
5
6

In [49]:
sum = 0
for i in range(1,51):
    if i%2 == 0:
        sum += i
print("sum of even number" ,sum)

sum of even number 650

# string manipulation

In [51]:
a = "Hello"
print(type(a))
print(a)

<class 'str'>
Hello

In [61]:
print(len(a))
print(a.count("o"))
print(a.upper())
print(a.lower())
"""print(a.index("0"))"""
print(a.capitalize())
print(a.casefold())
print(a.find("o"))
print(a.format())
"""print(a.center())"""

5
1
HELLO
hello
Hello
hello
4
Hello

'print(a.center())'

# list

In [62]:
fruits = ["apple" , "mango" , " banana" , 12,14,45.10]
print(fruits)
print(type(fruits))

['apple', 'mango', ' banana', 12, 14, 45.1]
<class 'list'>

In [64]:
a = ["Ironman" , "Thor", "Captain America" , "Hulk"]
print(a[2])
print(a[1:3])

Captain America
['Thor', 'Captain America']

In [75]:
a = ["Ironman" , "Thor", "Captain America" , "Hulk"]
for i in a:
    print(i)
for i in range(len(a)):
    print(i)
print(len(a))
print(a.count("Thor"))
a.append("Spiderman")
a.insert(1,"One")
a.remove("One")
a.reverse()
a.sort()
print(a)

Ironman
Thor
Captain America
Hulk
0
1
2
3
4
1
['Captain America', 'Hulk', 'Ironman', 'Spiderman', 'Thor']

# Tuples

In [77]:
a = ("one","two","three")
print(type(a))
for i in a:
    print(i)

<class 'tuple'>
one
two
three

# Dictionaries

In [79]:
Employee_data = { "name" : "Ramneet",
                 "age" : 28,
                 "gender":  "Male" }
print(Employee_data["age"])

28

# Functions

In [81]:
def hello():
    print("Hello World")

hello()

Hello World

In [82]:
def add(x,y):
    print(x+y)
add(12,67)

79

# modules

In [1]:
import datetime

In [2]:
x = datetime.datetime.now()
print(x)

2025-10-05 18:12:20.689340

In [9]:
import random

In [12]:
x= random.randint(1,10)
print(x)

8

In [13]:
l = ["Heads" , "Tails"]
x = random.choice(l)
print(x)

Tails

In [14]:
import math

In [24]:
x = max(10,20,30)
print(x)
a = pow(2,4)
print(a)
b = math.sqrt(49)
print(b)
k = math.ceil(2.4)
print(k)
m = math.floor(2.4)
print(m)

30
16
7.0
3
2