In [1]:
# creating a set
a = {"Animal", "Ball" , "Cat"}
print(a)
print(type(a))

{'Cat', 'Animal', 'Ball'}
<class 'set'>

In [2]:
a = {"Animal", "Ball" , "Cat","Animal", "Ball" , "Cat","Animal", "Ball" , "Cat"}. # no duplicate
print(a)

{'Cat', 'Animal', 'Ball'}

In [4]:
# True and 1 same value
a = {1,2,3,4,4,True}
print(a)
print(len(a))

{1, 2, 3, 4}
4

In [5]:
# data type
s1 = {1,2,3,4}
s2 = {1.2 , 2.3, 3.4, 4.5}
s3 = {"a","b","c","d"}
s4 = {True,False}
print(s1,s2,s3,s4)

{1, 2, 3, 4} {1.2, 2.3, 3.4, 4.5} {'d', 'a', 'b', 'c'} {False, True}

In [6]:
# create tuple in set
a = {(1,2,3,4)}
print(a)

{(1, 2, 3, 4)}

In [8]:
# set constructor
x = set(("a","b","c"))
print(x)
print(type(x))

{'a', 'b', 'c'}
<class 'set'>

In [10]:
# loop
x = {"A","b",1,3.4,"c"}
for i in x:
    print(i)

1
3.4
A
b
c

In [11]:
# check item in set 
a = {"Data","Python","Code"}
print("Code" in a)

True

In [12]:
# add item
a = {"a","b","c"}
a.add(100)
print(a)

{'a', 100, 'b', 'c'}

In [13]:
# merge two set
a = {"a","b","c"}
b = {"Data","Python","Code"}
a.update(b)
print(a)

{'Data', 'a', 'Python', 'Code', 'b', 'c'}

In [14]:
# remove
x = {'Data', 'a', 'Python', 'Code', 'b', 'c'}
x.remove("a")
print(x)

{'Data', 'Python', 'Code', 'b', 'c'}

In [16]:
# join two sets
a = {"a","b","c"}
b = {"Data","Python","Code"}
c = a.union(b)
print(c)

{'Data', 'a', 'Python', 'Code', 'b', 'c'}

In [17]:
# find min and max value
n = {3,4,6,7,2,3,8}
print(n)
print(max(n))
print(min(n))

{2, 3, 4, 6, 7, 8}
8
2